body {
    /* background: rgb(157, 153, 153); */
    background-image: url(background5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#title {
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    background: black;
    padding: 0 0 0 0;
    float: left;
    font-family: 'Baloo Tammudu', cursive;
    color: white;
    height: 100px;
    font-size: 55px;
    width: 500px;
}

#title4 {
    color: red;
}

#rules {
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    background: black;
    padding: 0 0 0 0;
    float: right;
    font-family: 'Baloo Tammudu', cursive;
    color: white;
    height: 100px;
    font-size: 55px;
    width: 300px;
    cursor: pointer;
}

#rulesP {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#rulesDrop {
    display: block;
}

#resetBtn {
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    background: black;
    padding: 0 0 0 0;
    float: left;
    font-family: 'Baloo Tammudu', cursive;
    color: white;
    height: 100px;
    font-size: 55px;
    width: 300px;
    cursor: pointer;
    position: relative;
}

#score {
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    background: black;
    padding: 0 0 0 0;
    float: right;
    font-family: 'Baloo Tammudu', cursive;
    color: white;
    height: 100px;
    font-size: 30px;
    width: 300px;
    position: relative;
}

/* Game board vvvvvvv */
.container {
	width: 670px;
	margin: 0 auto;
    text-align: center;
    clear: left;
}
.messages {
	width: 100%;
    margin: 0 auto;
    font-family: 'Baloo Tammudu', cursive;
    color: #F4EDED;
    font-size: 15px;
}

.row {
	margin: 30px auto;
	padding: 20px 10px;
}

.circle {
	position: relative;
	display: inherit;
	width: 75px;
	height: 75px;
	display: inline-block;
	margin: 3px 5px;
	border: 3px solid #b3b3b3;
	border-radius: 50%;
	background-color: #fff;
	vertical-align: center;
	transition: all .25s ease;
}


.circle > p { /* draw pop up*/
	font-family: 'Baloo Tammudu', cursive;
	position: absolute;
	font-size: 72px;
	color: white;
	top: 15px;
	left: 35px;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.circle-background-color-yellow {
	background-color: yellow;
	border: 3px solid yellow;
}

.circle-background-color-red {
	background-color: #C73D47;
    border: 3px solid #C73D47;
    
}

#play-again {
	font-family: 'Baloo Tammudu', cursive;
	font-size: 30px;
	color: black;
	background-color: #B2ADAD;
	padding: 15px 40px;
    border: 10px solid black;
    border-radius: 20px;
    margin: 20px 0 30px 0;
    transition: all .2s ease;
}
/* Game board ^^^^^^^ */
