body {
    background: rgb(157, 153, 153);
}

#title {
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    background: black;
    padding: 0 0 0 0;
    float: left;
    font-family: 'Baloo Tammudu', cursive;
    color: white;
    height: 100px;
    font-size: 55px;
    width: 300px;
}

#title4 {
    color: red;
}

#rules {
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    background: black;
    padding: 0 0 0 0;
    float: right;
    font-family: 'Baloo Tammudu', cursive;
    color: white;
    height: 100px;
    font-size: 55px;
    width: 300px;
}

#resetBtn {
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    background: black;
    padding: 0 0 0 0;
    float: left;
    font-family: 'Baloo Tammudu', cursive;
    color: white;
    height: 100px;
    font-size: 55px;
    width: 300px;
}

#score {
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    background: black;
    padding: 0 0 0 0;
    float: right;
    font-family: 'Baloo Tammudu', cursive;
    color: white;
    height: 100px;
    font-size: 30px;
    width: 300px;
}


button {
	font-family: 'Baloo Tammudu', cursive;
	font-size: 17px;
	color: white;
	background-color: blue;
	padding: 15px 40px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 20px 0 30px 0;
    transition: all .2s ease;
}

/* Game board vvvvvvv */
.container {
	width: 670px;
	margin: 0 auto;
    text-align: center;
    clear: left;
}
.messages {
	width: 100%;
	margin: 0 auto;
}

.row {
	margin: 30px auto;
	padding: 20px 10px;
}

.circle {
	position: relative;
	display: inherit;
	width: 75px;
	height: 75px;
	display: inline-block;
	margin: 3px 5px;
	border: 3px solid #b3b3b3;
	border-radius: 50%;
	background-color: #fff;
	vertical-align: center;
	transition: all .25s ease;
}


.circle > p { /* draw pop up*/
	font-family: 'Baloo Tammudu', cursive;
	position: absolute;
	font-size: 72px;
	color: white;
	top: 15px;
	left: 35px;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.circle-background-color-yellow {
	background-color: yellow;
	border: 3px solid yellow;
}

.circle-background-color-red {
	background-color: #C73D47;
	border: 3px solid #C73D47;
}
/* Game board ^^^^^^^ */